<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
        1.mybatis可以使用properties来引入外部properties配置文件的内容;
        resource: 引入类路径下的资源
        url:引入网络路径或者磁盘路径下的资源
    -->
    <properties resource="JdbcConfig.properties"/>

    <!--
        2.setting包含很多重要的设置项
        setting:用来设置每一个设置项
            name：设置项名
            value：设置项取值
    -->
    
    <settings>
        <!-- 数据库为a_column时 自动 映射到javaBean中的aColumn  -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <!-- 3.typeAliases别名处理器 可以为我们的java类型起别名
            别名不区分大小写
    -->
    <typeAliases>
        <!-- typeAlias 为某个java类型起别名
                type:指定要起别名的类型全类名,默认别名是小写employee
                alias:指定新的别名
        -->
<!--        <typeAlias type="U1_helloWorld.bean.Employee" alias="emp"/>-->

       <!-- package :为某个包下的所有类批量起别名
            name:指定包名（为当前包以及下面所有的后代包的每一个类都起一个默认别名(类名小写，
        -->
        <package name="U1_helloWorld.bean"/>
    </typeAliases>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>

    <!-- 将我们写好的sql映射文件一定要注册到全局配置文件中（mybatis-config.xml）-->
    <mappers>
        <mapper resource="U1/EmployeeMapper.xml"/>
    </mappers>
</configuration>