.left-enter-active,
.left-leave-active {
  transition: all .3s;
}

.left-enter,
.left-leave-to {
  opacity: 0;
  transform: translate(5vw);
}


.fade-enter-active,
.fade-leave-active {
  transition: all .5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.bigger-enter-active,
.bigger-leave-active {
  transition: all .5s cubic-bezier(.14, -0.13, .04, 1.38);
}

.bigger-enter,
.bigger-leave-to {
  opacity: 0;
  transform: scale(0.7);
  position: absolute;
}

/* 卡片式上升显现 */
.card-with-slider-enter-active, {
  transition: all .5s;

}

.card-with-slider-leave-active {
  transition: all .5s;

}

.card-with-slider-enter {
  transform: translateY(100vh);
}

.card-with-slider-leave-to {
  transform: translateY(90vh);
}

/* 水平上升消失 */
.up-out-enter-active,
.up-out-leave-active {
  transition: all 1s cubic-bezier(.14, -0.13, .04, 1.38);
}

.up-out-enter,
.up-out-leave-to {
  transform: translateY(-300%);
}

