$themes: (
        light: (
                bg1:rgb(250, 250, 250),
        ),
        dark: (
                bg1:rgb(35, 35, 35),
        ),
        color: (
                bg1:rgb(109, 199, 129)
        )
);
