<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <title></title>
</head>
<body>
    <div id="app">
        <cpn></cpn>

        <cpn>
            <!-- //获取子插槽中的值 -->
            <!-- 老方法 -->
            <!-- <template slot-scope="slot"> -->
            <template v-slot="slot">
                <span v-for="(item, index) in slot.data" :key="index">
                    {{ item }} <span v-if='index!=slot.data.length-1'>-</span> 
                </span>

                <span>
                    {{ slot.data.join(' * ') }}
                </span>
            </template>

        </cpn>
    </div>

    <template id="cpn">
        <div>

            <slot :data="planguages">

                <ul>
                    <li v-for="(item, index) in planguages" :key="index">{{item}}</li>
                </ul>
            </slot>
        </div>
    </template>

    <script>
        var app = new Vue({
            el:'#app',
            data:{},
            methods:{},
            components: {
                cpn: {
                    data() {
                        return{
                            planguages:['JaveScript','c++','go']
                        }
                    },
                    template: '#cpn'
                }
            }
        });
    </script>
</body>
</html>