div {
    transition: all 1s linear;
    width: 100px;
    height: 100px;
    background: red;
}

p {
    width: 100px;
    height: 100px;
    background: red;
}

h1 {
    display: flex;
    width: 100px;
    height: 100px;
    background: red;
    color: beige;
}