<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ahhTou.dao.AnimeMapper">

    <resultMap id="Res1" type="com.ahhTou.bean.Anime">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="end_time" property="endTime"/>
        <result column="img_url" property="imgUrl"/>
        <association
                property="types"
                javaType="java.util.List"
                select="com.ahhTou.dao.AnimeTypesMapper.getTypesByAnimeId"
                column="id"
        />
    </resultMap>

    <select id="getOnePage" resultMap="Res1">
        <bind name="_page1" value="(page - 1) * 20"/>
        <bind name="_page2" value="(page - 1) * 20 + 20"/>
        select *
        from anime
        limit #{_page1},#{_page2}
    </select>


</mapper>