.move-line-wrapper {
  position: relative;
  display: flex;

  .drag {
    -webkit-app-region: drag;

    position: relative;
    -webkit-user-select: none;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-color: rgb(50, 50, 50);
  }

  .close {
    cursor: pointer;
    position: relative;
    z-index: 10;
    height: 30px;
    width: 60px;
    background-color: rgb(50, 50, 50);
    color: rgb(220, 220, 220);
    font-weight: bolder;

    transition: all 0.3s;

    &:hover {
      background-color: crimson;
    }

  }
}

