<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射的接口 -->
<mapper namespace="com.ahhTou.mapper.UserMapper">
    <!-- 配置缓存 -->
    <cache type="com.ahhTou.conf.MybatisRedisCache">
        <property name="eviction" value="LRU"/>
        <property name="flushInterval" value="6000000"/>
        <property name="size" value="1024"/>
        <property name="readOnly" value="false"/>
    </cache>

    <!-- 对应的sql -->
    <select id="checkUsernameUnique" resultType="String">
        select username
        from user
        where username = #{username}
    </select>

    <select id="checkEmailUnique" resultType="String">
        select email
        from user
        where email = #{email}
    </select>

    <insert id="register">
        insert into user(email, username, password)
        values (#{email}, #{username}, #{password})
    </insert>

    <select id="getUserMsgByUsername" resultType="user">
        select id, email, username, create_time
        from user
        where username = #{username}
    </select>

</mapper>